[package]
name = "radix-rect"
description = "Rust port of Radix Core Rect."

authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
