[workspace]
members = [
    "book-examples/*",
    "packages/colors",
    "packages/icons/*",
    "packages/primitives/*/*",
    "scripts",
    "stories/*",
]
resolver = "2"

[workspace.package]
authors = ["Rust For Web <info@rustforweb.org>"]
edition = "2021"
license = "MIT"
repository = "https://github.com/RustForWeb/radix"
version = "0.0.2"

[workspace.dependencies]
console_log = "1.0.0"
console_error_panic_hook = "0.1.7"
dioxus = "0.5.6"
dioxus-router = "0.5.6"
leptos = "0.6.13"
leptos_dom = "0.6.13"
leptos_router = "0.6.13"
log = "0.4.22"
tailwind_fuse = { version = "0.3.0", features = ["variant"] }
yew = "0.21.0"
yew-attrs = "0.2.0"
yew-router = "0.18.0"
web-sys = "0.3.69"
