[package]
name = "radix-leptos-use-controllable-state"
description = "Leptos port of Radix Use Controllable State."

authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
leptos.workspace = true
